# Python cache
_pycache_/
*.pyc

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Large data folders
audios/
videos/
jsons/

# ML model files
*.joblib
embeddings.joblib

# Audio files
*.mp3
*.wav

# Video files
*.mp4
*.mkv
*.avi

# JSON files
*.json